{% extends "base.html" %}
{% block content %}
  <h2>{{ 'Editar' if requerente else 'Novo' }} Requerente</h2>
  <form method="post">
    <div class="form-row">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" type="text" required>
            <div id="nome-erro" class="erro-mensagem" style="display:none;"></div>
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input id="telefone" name="telefone" type="tel" oninput="formatarTelefone(this)" maxlength="15">
        </div>
    </div>
    <div class="form-group">
        <label for="observacao-requerente">Observação</label>
        <input id="observacao-requerente" name="observacao" type="text">
    </div>
    <button type="submit">Cadastrar</button>
  </form>
{% endblock %}