<div class="list-group">
  <a href="{{ url_for('dashboard.index') }}" class="list-group-item list-group-item-action">Dashboard</a>
  <a href="{{ url_for('requerentes.list') }}" class="list-group-item list-group-item-action">Requerentes</a>
  <a href="{{ url_for('arvores.list') }}" class="list-group-item list-group-item-action">Árvores</a>
  <a href="{{ url_for('especies.list') }}" class="list-group-item list-group-item-action">Espécies</a>
  <a href="{{ url_for('ordens.list') }}" class="list-group-item list-group-item-action">Ordens de Serviço</a>
  <a href="{{ url_for('vistorias.list') }}" class="list-group-item list-group-item-action">Vistorias</a>
</div>
